name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Установка mold
      run: sudo apt-get update && sudo apt-get install -y mold
    - uses: actions/checkout@v4
    - name: Build
      run:  RUSTFLAGS="-C link-arg=-fuse-ld=mold" && cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
